{
  "extends": ["@react-bootstrap", "4catalyzer-typescript", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "jsx-a11y/no-autofocus": "off",
    "prettier/prettier": "error",
    "import/extensions": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
