{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-var": "error",
    "one-var": ["error", { "initialized": "never" }],
    "quotes": ["error", "single", "avoid-escape"],
    "space-infix-ops": "error",
    "strict": ["error", "never"],
    "react/no-find-dom-node": "off",
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-wrap-multilines": "error",
    "react/prop-types": ["error", {
      "ignore": ["children", "className"]
    }],
    "react/self-closing-comp": "error"
  }
}
