{
  "rules": {
    "no-alert": "off",
    "no-shadow": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "react/jsx-no-undef": "off",
    "react/no-multi-comp": "off",
    "react/prop-types": "off"
  },
  "globals": {
    "render": false,
    "classNames": false,
    "React": false,
    "ReactDOM": false,
    "injectCss": false,
    "useRef": false,
    "useEffect": false,
    "useState": false,
    "useReducer": false,

    "Modal": false,
    "Overlay": false,
    "Dropdown": false,
    "Portal": false,
    "useRootClose": false,
    "css": false,
    "styled": false
  }
}
